header{
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;}

div{
    display: flex;
    margin-left: 180px;
}



.dos{
    display: flex;
    margin-left: 1060px;
}

.nueve{
    display: flex;
    margin-left: 1060px;
}

.dies{
    display: flex;
    margin-left: 1060px;
}



div{
    display: flex;
    margin-left: 200px;
}

.uno{ 
    display: flex;
    margin-left: 180px;
}


.tres{
    display: flex;
    margin-left: 390px;
}


.cuatro{
    display: flex;
    margin-left: 390px;
}


.cinco{
    display: flex;
    margin-left: 180px;
}

.seis{
    display: flex;
    margin-left: 30px;
}


.siete{
    display: flex;
    margin-left: 400px;
}


.ocho{
    display: flex;
    margin-left: 400px;
}

.once{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}